.footer {
    background-color: black;
    padding: 3px 0px 3px 0px;
    margin: 10px;
    color: #ccc;
}

.my-footer {
    background-color: #2e3c50;
    color: white;
}

.my-footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

.my-footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

.my-footer a {
    color: #d2d1d1;
    text-decoration: none;
}

.my-footer a:hover,
.my-footer a:focus {
    text-decoration: none;
    color: white;
}

.social-networks {
    text-align: center;
    padding: 30px 0 38px 0;
}

.social-networks a {
    font-size: 32px;
    margin: 0 5px 0 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

.social-networks a:hover {
    text-decoration: none;
}

.social-networks .facebook:hover {
    color: #0077e2;
}

.social-networks .google:hover {
    color: #ef1a1a;
}

.social-networks .twitter:hover {
    color: #00aced;
}